body{
  color: aliceblue;
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.navbar{
  background-color: rgba(255, 255, 255, 0.938) !important;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.navbar-brand{
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  color: #297FDC !important;
  margin: 0%;
  width: 20%;
  text-align: left;
}
.navs{
  align-items: center;
  width: 40%;
  font-family: 'Nunito', sans-serif;
  margin: 0% 3%;
}
.nav-link{
  color: #297FDC;
  font-size: 22px;
}
h1, h2{
  color: rgb(28, 39, 54);
  font-family: 'Rubik', sans-serif;
  margin: 50px;
  font-size: 80px;
  font-weight: 700;
}
p{
  color: rgb(0, 47, 112);
  margin: 50px;
  font-size: 20px;
}
label{
  color: rgb(0, 21, 46);
}
input{
  background-color: rgba(255, 255, 255, 0.884) !important;
  color: rgb(0, 21, 46);
  border-color: rgb(0, 21, 46);
  padding: 10px 30px;
  font-size: 20px;
}
input:hover{
  background-color: rgb(0, 21, 46);
  border-color: rgb(0, 21, 46);
}
.inicio{
  background-image: url("../img/background.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 600px 100px;
  margin-top: 100px;
  height: 100vh;
}

.comoFunciona{
  background-image: url("../img/background_presentacion.jpg");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 800px 50px;
  height: 60vh;
}
.comoFunciona__img{
  margin: 150px auto;
}
.comoFunciona__img h1{
  font-size: 30px;
  text-align: center;
}
.contactanos{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background_contactanos.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 700px 100px;
}
.contactanos h1{
  width: 60%;
  text-align: left;
}
.contactanos h2{
  text-align: center;
  color: white;
  font-size: 50px;
  width: 60%;
  margin: 100px auto;
  font-weight: bold;
  background-color:  #297FDC;
}
.ing, .gast, .calc{
  border-right: rgb(25, 26, 104) solid 1px;
  height: 500px;
  transition: .5s;
}
.calc{
  border-right: none;
}
.ing:hover{
  position: relative;
  transform:scale(1.02);
}
.gast:hover{  
  position: relative;
  transform:scale(1.02);
}
.calc:hover{
  position: relative;
  transform:scale(1.02);
}
.ing img, .gast img, .calc img{
  width: 350px;
}
.ingresos{
  background-image: url("../img/background_ingresos.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 500px 10px;
  height: 60vh;
  margin: 100px;
}
.ingresos .row{
  margin-top: 200px;
}
.gastosFijos{
  background-image: url("../img/background_fijos.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 500px 10px;
}
.gastosFijos .row{
  margin-top: 200px;
}
.gastosFlexibles{
  background-image: url("../img/background_flexibles.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 500px 10px;
  height: 60vh;
  margin-top: 100px;
}
.gastosFlexibles .row{
  margin-top: 200px;
}
.gastosExtras{
  background-image: url("../img/background_extras.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 500px -10px;
  height: 60vh;
}
.gastosExtras .row{
  margin-top: 200px;
}
.gastosFijos, .gastosFlexibles, .gastosExtras, .calculo{
  margin: 100px 0;
  display: none;
}
.botones-div{
  display: inline-block;
  text-align: center;
}
.botones{
  color: #297FDC !important;
  border-color: #297FDC !important;
  background-color: transparent !important;
  padding: 10px 30px;
  font-size: 20px;
}
.botones:hover{
  background-color: #297FDC !important;
  color: rgb(255, 255, 255) !important;
  border-color: #297FDC !important;
}
.calculo{
  margin: 150px auto;
}
.calculo h4{
  color: rgb(28, 39, 54);
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
}
.totalGastoTitulo h1{
  color: rgb(28, 39, 54);
  font-size: 35px;
}
.ahorroObtenido{
  color: rgb(5, 168, 26);
  font-size: 35px;
}
.faltante{
  color: rgb(233, 42, 42);
  font-size: 35px;
}
.calculo__extras, .calculo__flexibles{
  padding: 5%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.calculoAhorro, .calculoTotal{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 28px -13px rgba(0,0,0,0.75);
}
.calculo__extras h1, .calculo__flexibles h1{
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
}
.calculoAhorroExtras__resultados, .calculoAhorroFlexibles__resultados, .calculoTotalExtras__resultados, .calculoTotalFlexibles__resultados{
  margin: 10% 15%; 
}
.calculoAhorroExtras__titulo, .calculoTotalExtras__titulo, .calculoAhorroFlexibles__titulo, .calculoTotalFlexibles__titulo{
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  color: #297FDC;
}
.nombreResultado{
  display: inline;
  color: rgb(28, 39, 54);
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
.ahorroResultado{  
  display: inline;
  color: rgb(233, 42, 42);
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
.totalResultado{
  display: inline;
  color: rgb(5, 168, 26);
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}