body{
  color: aliceblue;
}
.navbar{
  background-color: rgba(255, 255, 255, 0.671) !important;
  width: 90%;
  height: 100px;
  margin: auto;
}
.navbar-brand{
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  color: #297FDC !important;
}
.navs{
  width: 50%;
  font-family: 'Nunito', sans-serif;
}
.nav-link{
  color: #297FDC;
  font-size: 22px;
}
h1{
  color: rgb(28, 39, 54);
  font-family: 'Rubik', sans-serif;
  margin: 50px;
  font-size: 80px;
  font-weight: 700;
}
p{
  color: rgb(0, 47, 112);
  margin: 50px;
  font-size: 20px;
}
label{
  color: rgb(0, 21, 46);
}
input{
  background-color: rgba(255, 255, 255, 0.884) !important;
  color: rgb(0, 21, 46);
  border-color: rgb(0, 21, 46);
  padding: 10px 30px;
  font-size: 20px;
}
input:hover{
  background-color: rgb(0, 21, 46);
  border-color: rgb(0, 21, 46);
}
.inicio{
  background-image: url(/img/background.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 600px 100px;
  height: 100vh;
}

.comoFunciona{
  background-image: url(/img/background_presentacion.jpg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 800px 50px;
  height: 60vh;
}
.comoFunciona__img{
  margin: 100px auto;
}
.comoFunciona__img h1{
  font-size: 30px;
  text-align: center;
}
.contactanos{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/background_contactanos.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 700px 100px;
}
.contactanos h1{
  width: 60%;
  text-align: left;
}
.contactanos h2{
  text-align: center;
  color: white;
  font-size: 50px;
  width: 60%;
  margin: 100px auto;
  font-weight: bold;
  background-color:  #297FDC;
}
.ing, .gast, .calc{
  border-right: rgb(25, 26, 104) solid 1px;
  height: 500px;
  transition: .5s;
  filter: grayscale(.3);
}
.calc{
  border-right: none;
}
.ing:hover{
  position: relative;
  transform:scale(1.02);
  filter: none;
}
.gast:hover{  
  position: relative;
  transform:scale(1.02);
  filter: none;
}
.calc:hover{
  position: relative;
  transform:scale(1.02);
  filter: none;
}
.ing img, .gast img, .calc img{
  width: 350px;
}
.ingresos{
  background-image: url(/img/background_ingresos.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 500px 10px;
  height: 100vh;
  margin: 100px;
}
.gastosFijos{
  background-image: url(/img/background_fijos.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 500px 10px;
  height: 100vh;
}
.gastosFlexibles{
  background-image: url(/img/background_flexibles.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 500px 10px;
  height: 100vh;
}
.gastosExtras{
  background-image: url(/img/background_extras.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 500px -10px;
  height: 100vh;
}
.gastosFijos, .gastosFlexibles, .gastosExtras{
  margin: 100px 0;
  display: none;
}
.botones-div{
  display: inline-block;
  text-align: center;
}
.botones{
  color: #297FDC !important;
  border-color: #297FDC !important;
  background-color: transparent !important;
  padding: 10px 30px;
  font-size: 20px;
}
.botones:hover{
  background-color: #297FDC !important;
  color: rgb(255, 255, 255) !important;
  border-color: #297FDC !important;
}
